<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="https://use.typekit.net/ixc8esf.css">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<style>

		body {
			font-family: "Georgia";
		}
		.wrapper {
			max-width: 520;
			margin: 0 auto;
		}
		.sidebar {
			width: 300px;
			margin-top: 100px;
		}
		.labtext {
			width:500px;
		}

		.uploadbutton {
			background-color: #555555;
			padding: 12px 28px;
			border: none;
			cursor: pointer;
			border-radius: 4px;
			color: white;
			font-family: 'Georgia', serif;
			font-size: 16px;
		}

		</style>

	</head>

	<div class="wrapper">

		{{ navbar|safe }}

		<div class="labtext">
			{% block content %}
			<h1>
				{{ title }}
			</h1>
			<body>
				{{ body }}
			</body>
			{% endblock %}
		</div>

		<div id="sidebar" class="sidebar">

			<div id="uploaddiv" class="uploaddiv">
				<form method=post enctype="multipart/form-data">
					<input type="file" name="fileupload"/>
					<input type="submit" value="Upload" class="uploadbutton">
				</form>

			</div>
		</div>

		{% for message in get_flashed_messages() %}
		<div class="alert">
			{{ message }}
		</div>
		{% endfor %}
	</div>

</html>